force-app/main/default/flows/Create_Temporary_Permission_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Permission_Set_Values</name>
        <label>Assign Permission Set Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PermissionSet.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempPermissionSetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSet.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempPermissionSetApiName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Permission_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Object_Permission</name>
        <label>Create Object Permission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ObjectPermissions.SobjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectPermissions.PermissionsRead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectPermissions.PermissionsEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Editable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectPermissions.PermissionsCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Editable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldPermissions.Field</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectFieldName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldPermissions.SobjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldPermissions.PermissionsRead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldPermissions.PermissionsEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Editable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectPermissions.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermissionSet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldPermissions.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermissionSet.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Object_Permissions</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Editable</name>
        <dataType>Boolean</dataType>
        <expression>IF({!AccessLevel} == &apos;Edit&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>ObjectFieldName</name>
        <dataType>String</dataType>
        <expression>{!ObjectName}+&apos;.&apos;+{!FieldName}</expression>
    </formulas>
    <formulas>
        <name>Readable</name>
        <dataType>Boolean</dataType>
        <expression>IF({!AccessLevel} == &apos;Read&apos; || {!AccessLevel} == &apos;Edit&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>TempPermissionSetApiName</name>
        <dataType>String</dataType>
        <expression>{!UserFirstName}+{!UserLastName}+{!AccessLevel}</expression>
    </formulas>
    <formulas>
        <name>TempPermissionSetName</name>
        <dataType>String</dataType>
        <expression>{!UserName} + &apos;-&apos; + {!ObjectName} + &apos;.&apos; + {!FieldName} + &apos; &apos; + {!AccessLevel}</expression>
    </formulas>
    <interviewLabel>Create Temporary Permission Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Temporary Permission Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Field_Permissions</name>
        <label>Create Field Permissions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>FieldPermissions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Object_Permissions</name>
        <label>Create Object Permissions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Field_Permissions</targetReference>
        </connector>
        <inputReference>ObjectPermissions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Permission_Set</name>
        <label>Create Permission Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Object_Permission</targetReference>
        </connector>
        <inputReference>PermissionSet</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Permission_Set_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Level of access to provide, either &quot;Read&quot; or &quot;Edit&quot;</description>
        <name>AccessLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the Field</description>
        <name>FieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldPermissions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldPermissions</objectType>
    </variables>
    <variables>
        <description>Name of the object</description>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Permissions to the object</description>
        <name>ObjectPermissions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectPermissions</objectType>
    </variables>
    <variables>
        <name>PermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User&apos;s Id</description>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
