force-app/main/default/flows/Get_Celebration_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Celebration_Message</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Celebration Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Happy Birthday from all of us at Coral Cloud Resort! We can’t wait to help you celebrate in style!
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Default_Message</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Default Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>We’re excited to welcome you soon to Coral Cloud Resort! Let us know if you&apos;re celebrating anything special!
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_It_Their_Birthday_Week</name>
        <label>Is It Their Birthday Week?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Default_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_It_Their_Birthday_Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BirthdayWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Celebration_Message</targetReference>
            </connector>
            <label>Outcome 1 of Is It Their Birthday Week?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BirthdayWeek</name>
        <dataType>Boolean</dataType>
        <expression>ABS({!GuestBirthdayThisYear} -({!Get_Contact_Info.Next_Check_in_Date__c}) )&lt;= 7</expression>
    </formulas>
    <formulas>
        <name>GuestBirthdayThisYear</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!Get_Contact_Info.Next_Check_in_Date__c}),
  MONTH({!Get_Contact_Info.Birthdate}),
  DAY({!Get_Contact_Info.Birthdate})
)</expression>
    </formulas>
    <interviewLabel>Get Celebration Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Celebration Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <description>Gets all contact celebration info.</description>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_It_Their_Birthday_Week</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactRecord.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
