force-app/main/default/flows/IT_Request_SLA_Breach_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description
  >Hourly scheduled flow to send breach alerts for IT requests past their SLA deadline</description>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Breached_Requests</targetReference>
        </connector>
        <schedule>
            <frequency>Hourly</frequency>
            <startDate>2026-01-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <recordLookups>
        <name>Query_Breached_Requests</name>
        <label>Query Breached Requests</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Due_By__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_Breach_Notified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IT_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Check_If_Records_Found</name>
        <label>Check If Records Found</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Breached_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Loop_Through_Breached_Requests</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <loops>
        <name>Loop_Through_Breached_Requests</name>
        <label>Loop Through Breached Requests</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Query_Breached_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Breach_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Notified_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <actionCalls>
        <name>Send_Breach_Alert</name>
        <label>Send Breach Alert</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Breached_Requests</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>it-tier2@example.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >SLA BREACH: IT Request {!Loop_Through_Breached_Requests.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue
        >ALERT: IT Request {!Loop_Through_Breached_Requests.Name} has breached its SLA deadline.

Request Details:
- Employee: {!Loop_Through_Breached_Requests.Employee_Name__c}
- Priority: {!Loop_Through_Breached_Requests.Priority__c}
- Status: {!Loop_Through_Breached_Requests.Status__c}
- Due By: {!Loop_Through_Breached_Requests.Due_By__c}
- Issue: {!Loop_Through_Breached_Requests.Issue_Description__c}

Immediate action is required to address this overdue request.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <recordUpdates>
        <name>Update_Notified_Flag</name>
        <label>Update Notified Flag</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>SLA_Breach_Notified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>Query_Breached_Requests</inputReference>
    </recordUpdates>
    <status>Active</status>
</Flow>
