force-app/main/default/flows/IT_Request_SLA_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <label>IT Request SLA Management</label>
    <formulas>
        <name>formulaDueBy</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} +
CASE(TEXT({!$Record.Priority__c}),
  &quot;Critical&quot;, 4/24,
  &quot;High&quot;, 8/24,
  &quot;Medium&quot;, 24/24,
  &quot;Low&quot;, 72/24,
  24/24)</expression>
    </formulas>
    <decisions>
        <name>Check_If_Create_Or_Update</name>
        <label>Check If Create Or Update</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create_And_Due_By_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Due_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Request_Due_By</targetReference>
            </connector>
            <label>Is Create And Due By Blank</label>
        </rules>
        <rules>
            <name>Is_Update_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_Change_Type</targetReference>
            </connector>
            <label>Is Update Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Change_Type</name>
        <label>Check Status Change Type</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Response_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.First_Response_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_First_Response</targetReference>
            </connector>
            <label>First Response Needed</label>
        </rules>
        <rules>
            <name>Status_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resolved_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Resolved_At</targetReference>
            </connector>
            <label>Status Resolved</label>
        </rules>
        <rules>
            <name>Status_Reopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Resolved_At</targetReference>
            </connector>
            <label>Status Reopened</label>
        </rules>
    </decisions>
    <assignments>
        <name>Stamp_First_Response</name>
        <label>Stamp First Response</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Response_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stamp_Resolved_At</name>
        <label>Stamp Resolved At</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resolved_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Resolved_At</name>
        <label>Clear Resolved At</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resolved_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <recordUpdates>
        <name>Update_Request_Due_By</name>
        <label>Update Request Due By</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Due_By__c</field>
            <value>
                <elementReference>formulaDueBy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <variables>
        <name>nullDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Create_Or_Update</targetReference>
        </connector>
        <object>IT_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
