force-app/main/default/flows/IT_Request_SLA_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Check_If_Create_Or_Update</name>
        <label>Check If Create Or Update</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create_And_Due_By_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Due_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_SLA_Due_Date</targetReference>
            </connector>
            <label>Is Create And Due By Blank</label>
        </rules>
        <rules>
            <name>Is_Update_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_Change_Type</targetReference>
            </connector>
            <label>Is Update Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Change_Type</name>
        <label>Check Status Change Type</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Response_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.First_Response_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_First_Response</targetReference>
            </connector>
            <label>First Response Needed</label>
        </rules>
        <rules>
            <name>Status_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resolved_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Resolved_At</targetReference>
            </connector>
            <label>Status Resolved</label>
        </rules>
        <rules>
            <name>Status_Reopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Resolved_At</targetReference>
            </connector>
            <label>Status Reopened</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Priority_SLA</name>
        <label>Determine Priority SLA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_SLA_Low_72h</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default (Low)</defaultConnectorLabel>
        <rules>
            <name>Priority_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SLA_Critical_4h</targetReference>
            </connector>
            <label>Priority Critical</label>
        </rules>
        <rules>
            <name>Priority_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SLA_High_8h</targetReference>
            </connector>
            <label>Priority High</label>
        </rules>
        <rules>
            <name>Priority_Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SLA_Medium_24h</targetReference>
            </connector>
            <label>Priority Medium</label>
        </rules>
    </decisions>
    <assignments>
        <name>Calculate_SLA_Due_Date</name>
        <label>Calculate SLA Due Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varDueBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Priority_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLA_Critical_4h</name>
        <label>Set SLA Critical 4h</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDueBy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.166666667</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Due_By</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLA_High_8h</name>
        <label>Set SLA High 8h</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDueBy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.333333333</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Due_By</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLA_Medium_24h</name>
        <label>Set SLA Medium 24h</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDueBy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Due_By</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLA_Low_72h</name>
        <label>Set SLA Low 72h</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDueBy</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Due_By</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_First_Response</name>
        <label>Stamp First Response</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Response_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stamp_Resolved_At</name>
        <label>Stamp Resolved At</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resolved_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Resolved_At</name>
        <label>Clear Resolved At</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resolved_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <recordUpdates>
        <name>Update_Request_Due_By</name>
        <label>Update Request Due By</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Due_By__c</field>
            <value>
                <elementReference>varDueBy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <variables>
        <name>varDueBy</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nullDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Create_Or_Update</targetReference>
        </connector>
        <object>IT_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
